.doctor-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.5s;
}

.doctor-div:hover {
  transform: translateY(-10px);
}

.doctor-text1 {
  width: 70%;
}

.doctor-img {
  width: 150px;
  border-radius: 100%;
  margin: 30px;
}

.doctor-icon {
  font-size: 20px;
}

.doctor-icon i {
  background-color: rgb(229, 227, 227);
  padding: 10px;
  border-radius: 100%;
  margin: 0 10px;
  opacity: 60%;
}

.doctor-icon i:hover {
  background-color: #1977cc;
  color: white;
}

/* این ساختار در ریسپانسیو بهتر کار می‌کنه */
.container {
  width: 100%;
  padding: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  width: 100%;
}
