.doctor-section{
  padding: 60px 0;
}

.doctor-header{
  padding-left: 95px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doctor-header h3{
  font-weight: bold;
  font-size: 40px;
  padding:  0 20px 20px 20px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 30px;
  position: relative;
}

.doctor-header h3::after{
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  transform: translateX(-50%);
  width:80px;
  height: 2.5px;
  background-color: rgb(46, 134, 249);
}

.doctor-header p{
  font-size: 16px;
}

.doctor-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.5s;
}

.doctor-div:hover{
  transform: translateY(-10px);
}

@media (max-width: 768px) {

  .doctor-div{
    margin: 0 10px;
  }
 .doctor-img{
  width: 30px;
  max-width: 150px;
 }
 .doctor-text1{
  width: 70%;
  padding-left: 10px;
}
.doctor-text1 p{
  font-size: 14px;
}
}

.doctor-text1{
  width: 70%;
}

.doctor-img{
  width: 150px;
  border-radius: 100%;
  margin: 30px;
}

.doctor-icon{
  font-size: 20px;
}

.doctor-icon i{
  background-color: rgb(229, 227, 227);
  padding: 10px;
  border-radius: 100%;
  margin: 0 10px;
  opacity: 60%;
}

.doctor-icon i:hover{
  background-color: #1977cc;
  color: white;
}